<app-header></app-header>
<div class="content-container">
  <div class="content-area">

    <button class="btn btn-primary" (click)="addRow()" [disabled]="selectedHouse">
      <clr-icon shape="plus"></clr-icon> 추가
    </button>

    <table class="table">
      <thead>
        <tr>
          <th>순서</th>
          <th>이름</th>
          <th>수정</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let house of houses | orderBy:'order'">
          <td>
            <span *ngIf="selectedHouse !== house">{{house.order}}</span>
            <span *ngIf="selectedHouse === house">
              <input type="number" [(ngModel)]="editingHouse.order" min="1" placeholder="순서를 입력">
            </span>
          </td>
          <td>
            <span *ngIf="selectedHouse !== house">{{house.name}}</span>
            <span *ngIf="selectedHouse === house">
              <input type="text" [(ngModel)]="editingHouse.name" placeholder="번지수 혹은 호수">
            </span>
          </td>
          <td>
            <span *ngIf="selectedHouse !== house">
              <button class="btn btn-sm btn-icon no-margin" [disabled]="selectedHouse" (click)="edit(house)">
                <clr-icon shape="pencil"></clr-icon>
              </button>
            </span>
            <span *ngIf="selectedHouse === house">
              <button class="btn btn-success btn-sm btn-icon no-margin" [disabled]="editingHouse.name.length < 1"
                (click)="save()">
                <clr-icon shape="check"></clr-icon>
              </button>
            </span>
            <span *ngIf="selectedHouse === house">
              <button class="btn btn-warning btn-sm btn-icon no-margin" (click)="cancel()">
                <clr-icon shape="times"></clr-icon>
              </button>
            </span>
          </td>
          <td>
            <button class="btn btn-danger btn-sm btn-icon no-margin" [disabled]="selectedHouse" (click)="delete(house)">
              <clr-icon shape="trash"></clr-icon>
            </button>
          </td>
        </tr>

        <tr>
          <td colspan="4" *ngIf="houses.length === 0">집을 추가해 주세요.</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
