<app-header></app-header>
<div class="content-container">
  <div class="content-area">

    <clr-tabs>
      <clr-tab>
        <button clrTabLink>사용중구역</button>
        <clr-tab-content *clrIfActive>

          <button class="btn btn-primary" (click)="addTerritory()">
            <clr-icon shape="plus"></clr-icon> 추가
          </button>

          <table class="table">
            <thead>
              <tr>
                <th>번호</th>
                <th>완료</th>
                <th>이름</th>
                <th>기능</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let territory of territories | async">
                <td>{{territory.number}}</td>
                <td>{{territory.visited}} / {{territory.total}}</td>
                <td>{{territory.name}}</td>
                <td>
                  <button class="btn btn-sm btn-icon no-margin" (click)="editTerritory(territory)">
                    <clr-icon shape="pencil"></clr-icon>
                  </button>
                  <button class="btn btn-sm btn-icon no-margin" [routerLink]="['/house', territory.$key]">
                    <clr-icon shape="home"></clr-icon>
                  </button>
                  <button class="btn btn-sm btn-icon no-margin" (click)="viewMap(territory)">
                    <clr-icon shape="map"></clr-icon>
                  </button>
                  <button class="btn btn-sm btn-warning btn-icon no-margin" [disabled]="isRestarting" (click)="restart(territory)">
                    <clr-icon shape="refresh"></clr-icon>
                  </button>
                </td>
              </tr>
              <td *ngIf="(territories | async)?.length === 0" colspan="3">구역이 없습니다.</td>
            </tbody>
          </table>

        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="fetchDeleteTerritories()">삭제된구역</button>
        <clr-tab-content *clrIfActive>

          <table class="table">
            <thead>
              <tr>
                <th>번호</th>
                <th>이름</th>
                <th>기능</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let territory of deletedTerritories | async">
                <td>{{territory.number}}</td>
                <td>{{territory.name}}</td>
                <td>
                  <button class="btn btn-sm btn-icon no-margin" (click)="editTerritory(territory)">
                    <clr-icon shape="pencil"></clr-icon>
                  </button>
                  <button class="btn btn-sm btn-icon no-margin" (click)="viewMap(territory)">
                    <clr-icon shape="map"></clr-icon>
                  </button>
                  <button class="btn btn-sm btn-success btn-icon no-margin" (click)="recoverTerritory(territory)">
                    <clr-icon shape="history"></clr-icon>
                  </button>
                </td>
              </tr>
              <tr *ngIf="(deletedTerritories | async)?.length === 0">
                <td colspan="3">삭제된 구역이 없습니다.</td>
              </tr>
            </tbody>
          </table>

        </clr-tab-content>
      </clr-tab>
    </clr-tabs>

  </div>
</div>

<clr-modal [(clrModalOpen)]="isMapOpen">
  <div class="modal-body" *ngIf="selectedTerritory">
    <ngui-map center="{{selectedTerritory.center.lat}}, {{selectedTerritory.center.lng}}" zoom="{{selectedTerritory.zoom}}">
      <polygon [editable]="false" [paths]="selectedTerritory.paths"></polygon>
    </ngui-map>
  </div>
</clr-modal>

<clr-wizard #newTerritory [(clrWizardOpen)]="isNewTerritoryOpen" clrWizardSize="lg" (clrWizardOnFinish)="selectedTerritory ? updateTerritory() : createTerritory()"
  (clrWizardOnCancel)="resetWizard()">
  <clr-wizard-title>{{selectedTerritory ? '구역수정' : '구역생성'}}</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">취소</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">뒤로</clr-wizard-button>
  <clr-wizard-button [type]="'next'">다음</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">{{selectedTerritory ? '수정' : '생성'}}</clr-wizard-button>

  <clr-wizard-page [clrWizardPageNextDisabled]="newTerritoryForm.invalid">
    <ng-template clrPageTitle>구역정보</ng-template>
    <form class="form" [formGroup]="newTerritoryForm">
      <section class="form-block">
        <div class="form-group">
          <label for="number">번호</label>
          <input type="number" id="number" formControlName="number" placeholder="구역번호를 입력해주세요.">
        </div>
        <div class="form-group">
          <label for="name">이름</label>
          <input type="text" id="name" formControlName="name" placeholder="구역명을 입력해주세요.">
        </div>
        <div class="form-group" *ngIf="!selectedTerritory">
          <label for="isApartment">아파트</label>
          <clr-checkbox id="isApartment" formControlName="isApartment"></clr-checkbox>
        </div>
      </section>
      <section class="form-block" *ngIf="newTerritoryForm.get('isApartment').value">
        <div class="form-group">
          <label for="buildings">아파트 동</label>
          <input type="text" id="buildings" autocomplete="off" formControlName="buildings" placeholder="예) 101,111">
        </div>
        <div class="form-group">
          <label for="levelFrom">시작하는 층</label>
          <input type="number" id="levelFrom" formControlName="levelFrom" placeholder="예) 11">
        </div>
        <div class="form-group">
          <label for="levelTo">끝나는 층</label>
          <input type="number" id="levelTo" formControlName="levelTo" placeholder="예) 15">
        </div>
        <div class="form-group">
          <label for="numberFrom">시작하는 호수</label>
          <input type="number" id="numberFrom" formControlName="numberFrom" placeholder="예) 1">
        </div>
        <div class="form-group">
          <label for="numberTo">끝나는 호수</label>
          <input type="number" id="numberTo" formControlName="numberTo" placeholder="예) 6">
        </div>
      </section>
    </form>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!polygons.length && !selectedTerritory">
    <ng-template clrPageTitle>지도입력</ng-template>
    <ngui-map center="{{myCongregation}}">
      <drawing-manager [drawingMode]="'polygon'" [drawingControl]="true" [drawingControlOptions]="{
            drawingModes: ['polygon']
           }" [circleOptions]="{
            fillColor: '#ffff00',
            fillOpacity: 1,
            strokeWeight: 5,
            editable: true,
            zIndex: 1
          }"></drawing-manager>
    </ngui-map>
    <button class="btn btn-danger btn-icon" (click)="clearMap()">
      <clr-icon shape="trash"></clr-icon>
    </button>
  </clr-wizard-page>

</clr-wizard>
