.header_icon {
  margin-top: 10px;
}

.full-image {
  width: 60%;
  height: 60%;
  margin-left: 20%;
  color: #E62700;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.spinner-center {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.margin-top {
  margin-top: 15px;
}

.input-narrow {
  width: 3em;
}
